<!DOCTYPE html>
<html>
<head> 
    <title>Inscription</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{url_for ('home')}}">Accueil</a></li>
                <li><a href="{{url_for ('login')}}">Connexion</a></li>
                <li><a href="{{url_for ('register')}}">S'inscrire</a></li>
                <li><a href="{{url_for ('chat')}}">Chat</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Inscription</h1>
            <form  method="POST">
                <label for="Prenom">Prénom</label>
                <input type="text" name="Prenom" required placeholder="Prenom" />
                <label for="Nom">Nom</label>
                <input type="text" name="Nom" required placeholder="Nom"/>
                <label for="Age">Âge</label>
                <input type="number" name="Age" required placeholder="21" />
                <label for="Username">Pseudo</label>
                <input type="text" name="Username" required placeholder="Username"/>
                <label for="Password">Mot de passe</label>
                <input type="password" name="Password" required placeholder="Password"/>
                <input type="submit" value="S'inscrire" />
                {% if error %}
                <p class="error">{{ error }}</p>
                {% endif %}
            </form>

            <p>Déjà un compte ? <a href="{{url_for ('login')}}" class="lien">Connectez-vous</a></p>
        </section>
    </main>
    <footer>
        <p>2024 © MYR</p>
        <p><a href="{{url_for ('apropos')}}">À propos</a></p>
    </footer>
</body>
</html>
